* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    margin: 1em;
}

.carreVert {
    height: 200px;
    width: 200px;
    cursor: pointer;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.carreRouge {
    
    background-color: red;
    transition: 1s;
    transform : rotate(-360deg) scale(0.9);
}

#carre3 {
    position: absolute;
    top: 210px;
    left: 393px;
    display: flex;
}

#carre4 {
    position: absolute;
    top: 210px;
    right: 394px;
    display: flex;
}

p {
    color: white;
}
